<%= form_for(@tweeet) do |f| %>
  <% if @tweeet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweeet.errors.count, "error") %> prohibited this tweeet from being saved:</h2>

      <ul>
      <% @tweeet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet_id %><br>
    <%= f.text_field :tweet_id %>
  </div>
  <div class="field">
    <%= f.label :tweet_url %><br>
    <%= f.text_area :tweet_url %>
  </div>
  <div class="field">
    <%= f.label :full_text %><br>
    <%= f.text_area :full_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
