<p id="notice"><%= notice %></p>

<h1>Listing Tweeets</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Tweet url</th>
      <th>Full text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweeets.each do |tweeet| %>
      <tr>
        <td><%= tweeet.tweet_id %></td>
        <td><%= tweeet.tweet_url %></td>
        <td><%= tweeet.full_text %></td>
        <td><%= link_to 'Show', tweeet %></td>
        <td><%= link_to 'Edit', edit_tweeet_path(tweeet) %></td>
        <td><%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweeet', new_tweeet_path %>
