<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweeet.tweet_id %>
</p>

<p>
  <strong>Tweet url:</strong>
  <%= @tweeet.tweet_url %>
</p>

<p>
  <strong>Full text:</strong>
  <%= @tweeet.full_text %>
</p>

<%= link_to 'Edit', edit_tweeet_path(@tweeet) %> |
<%= link_to 'Back', tweeets_path %>
