<%= form_for(@slack_count) do |f| %>
  <% if @slack_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slack_count.errors.count, "error") %> prohibited this slack_count from being saved:</h2>

      <ul>
      <% @slack_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
