<p id="notice"><%= notice %></p>

<h1>Listing Slack Counts</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slack_counts.each do |slack_count| %>
      <tr>
        <td><%= slack_count.count %></td>
        <td><%= link_to 'Show', slack_count %></td>
        <td><%= link_to 'Edit', edit_slack_count_path(slack_count) %></td>
        <td><%= link_to 'Destroy', slack_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slack count', new_slack_count_path %>
