<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @slack_count.count %>
</p>

<%= link_to 'Edit', edit_slack_count_path(@slack_count) %> |
<%= link_to 'Back', slack_counts_path %>
