<%= form_for(@vk_post) do |f| %>
  <% if @vk_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vk_post.errors.count, "error") %> prohibited this vk_post from being saved:</h2>

      <ul>
      <% @vk_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :post_url %><br>
    <%= f.text_area :post_url %>
  </div>
  <div class="field">
    <%= f.label :full_text %><br>
    <%= f.text_area :full_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
