<p id="notice"><%= notice %></p>

<h1>Listing Vk Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Post url</th>
      <th>Full text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_posts.each do |vk_post| %>
      <tr>
        <td><%= vk_post.post_id %></td>
        <td><%= vk_post.post_url %></td>
        <td><%= vk_post.full_text %></td>
        <td><%= link_to 'Show', vk_post %></td>
        <td><%= link_to 'Edit', edit_vk_post_path(vk_post) %></td>
        <td><%= link_to 'Destroy', vk_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vk post', new_vk_post_path %>
