<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @vk_post.post_id %>
</p>

<p>
  <strong>Post url:</strong>
  <%= @vk_post.post_url %>
</p>

<p>
  <strong>Full text:</strong>
  <%= @vk_post.full_text %>
</p>

<%= link_to 'Edit', edit_vk_post_path(@vk_post) %> |
<%= link_to 'Back', vk_posts_path %>
